<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Gugliotti_News>
            <version>0.3.0</version>
        </Gugliotti_News>
    </modules>
    <global>
        <models>
            <gugliotti_news>
                <class>Gugliotti_News_Model</class>
                <resourceModel>gugliotti_news_resource</resourceModel>
            </gugliotti_news>
            <gugliotti_news_resource>
                <class>Gugliotti_News_Model_Resource</class>
                <entities>
                    <category>
                        <table>gugliotti_news_category</table>
                    </category>
                    <story>
                        <table>gugliotti_news_story</table>
                    </story>
                </entities>
            </gugliotti_news_resource>
        </models>
        <blocks>
            <gugliotti_news>
                <class>Gugliotti_News_Block</class>
            </gugliotti_news>
        </blocks>
        <helpers>
            <gugliotti_news>
                <class>Gugliotti_News_Helper</class>
            </gugliotti_news>
        </helpers>
        <resources>
            <gugliotti_news_setup>
                <setup>
                    <module>Gugliotti_News</module>
                </setup>
            </gugliotti_news_setup>
        </resources>
        <events>
            <gugliotti_news_category_load_after>
                <observers>
                    <gugliotti_news_change_category_code>
                        <type>model</type>
                        <class>Gugliotti_News_Model_Observers_Category</class>
                        <method>changeCodeValue</method>
                    </gugliotti_news_change_category_code>
                </observers>
            </gugliotti_news_category_load_after>
        </events>
    </global>
    <admin>
        <routers>
            <gugliotti_news>
                <use>admin</use>
                <args>
                    <module>Gugliotti_News</module>
                    <frontName>gugliotti_news</frontName>
                </args>
            </gugliotti_news>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <gugliotti_news>
                    <files>
                        <default>Gugliotti_News.csv</default>
                    </files>
                </gugliotti_news>
            </modules>
        </translate>
        <layout>
            <updates>
                <gugliotti_news>
                    <file>gugliotti_news.xml</file>
                </gugliotti_news>
            </updates>
        </layout>
        <events>
            <gugliotti_news_category_save_after>
                <observers>
                    <gugliotti_news_log_category_save>
                        <type>model</type>
                        <class>Gugliotti_News_Model_Observers_Category</class>
                        <method>createLogEntry</method>
                    </gugliotti_news_log_category_save>
                </observers>
            </gugliotti_news_category_save_after>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <gugliotti_news>
                    <files>
                        <default>Gugliotti_News.csv</default>
                    </files>
                </gugliotti_news>
            </modules>
        </translate>
        <layout>
            <updates>
                <gugliotti_news>
                    <file>gugliotti_news.xml</file>
                </gugliotti_news>
            </updates>
        </layout>
        <routers>
            <gugliotti_news>
                <use>standard</use>
                <args>
                    <module>Gugliotti_News</module>
                    <frontName>news</frontName>
                </args>
            </gugliotti_news>
        </routers>
    </frontend>
    <default>
        <gugliotti_news>
            <general>
                <enabled>0</enabled>
            </general>
            <delete_images>1</delete_images>
        </gugliotti_news>
        <log>
            <log_enabled>0</log_enabled>
            <log_file>gugliotti_news.log</log_file>
        </log>
    </default>
</config>