<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <TM_CheckoutSuccess>
            <version>2.0.7</version>
        </TM_CheckoutSuccess>
    </modules>

    <global>
        <blocks>
            <checkoutsuccess>
                <class>TM_CheckoutSuccess_Block</class>
            </checkoutsuccess>
        </blocks>
        <models>
            <checkoutsuccess>
                <class>TM_CheckoutSuccess_Model</class>
            </checkoutsuccess>
        </models>
        <helpers>
            <checkoutsuccess>
                <class>TM_CheckoutSuccess_Helper</class>
            </checkoutsuccess>
        </helpers>
    </global>

    <frontend>
        <tm_layout>
            <updates>
                <checkoutsuccess condition="checkoutsuccess/isEnabled">
                    <file>tm/checkoutsuccess.xml</file>
                </checkoutsuccess>
            </updates>
        </tm_layout>
        <translate>
            <modules>
                <TM_CheckoutSuccess>
                    <files>
                        <default>TM_CheckoutSuccess.csv</default>
                    </files>
                </TM_CheckoutSuccess>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_checkout_onepage_success>
                <observers>
                    <checkoutsuccess>
                        <class>checkoutsuccess/observer</class>
                        <method>registerCurrentOrder</method>
                    </checkoutsuccess>
                </observers>
            </controller_action_predispatch_checkout_onepage_success>
            <controller_action_layout_load_before>
                <observers>
                    <checkoutsuccess>
                        <class>checkoutsuccess/observer</class>
                        <method>updateLayout</method>
                    </checkoutsuccess>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_layout_render_before>
                <observers>
                    <checkoutsuccess>
                        <class>checkoutsuccess/observer</class>
                        <method>addCustomJsCss</method>
                    </checkoutsuccess>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <routers>
            <checkoutsuccess>
                <use>standard</use>
                <args>
                    <module>TM_CheckoutSuccess</module>
                    <frontName>checkoutsuccess</frontName>
                </args>
            </checkoutsuccess>
        </routers>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <checkoutsuccess>
                    <file>tm/checkoutsuccess.xml</file>
                </checkoutsuccess>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_CheckoutSuccess>
                    <files>
                        <default>TM_CheckoutSuccess.csv</default>
                    </files>
                </TM_CheckoutSuccess>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <checkoutsuccess translate="title" module="checkoutsuccess">
                                            <title>Checkout Success Page</title>
                                        </checkoutsuccess>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <checkoutsuccess>
            <general>
                <enabled>0</enabled>
            </general>
            <mockup>
                <board>{"top":[],"middleleft":["checkoutsuccess.thank.you","checkoutsuccess.quick.register"],"middleright":["sales.order.view","sales.order.info","checkoutsuccess.additional"],"bottom":["sales.recurring.profile.schedule"]}</board>
            </mockup>
        </checkoutsuccess>
    </default>
</config>
